@font-face {
    font-family: 'Heebo', sans-serif;
    src: url(../fonts/Heebo-Regular.TTF);
  }
  @font-face {
    font-family: 'Heebo', sans-serif;
    src: url(../fonts/Heebo-Regular.TTF);
  }
.bg{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body{
    font-family: 'Heebo', sans-serif;
}

/* Hiding the logo and registration/Login links */
.header .logo {
	display: none;
}


.logo{
    display: inline;
}
.logo img{
    width: 185px;
}
.header{
    margin: 40px 0;
    display: inline-block;
    width: 100%;
}
.header nav{
    display: inline-block;
    float: right;
}
.header nav ul li{
    display: inline;
    padding: 0 10px;
}
.header nav ul{
    margin: 0;
}

/* Hiding the logo and registration/Login links */
.header nav {
	display: none;
}

.reg-btn{
    background: rgb(0,95,249);
    background: linear-gradient(90deg, rgba(0,95,249,1) 0%, rgba(9,80,194,1) 100%, rgba(255,255,255,1) 100%);
    color: #fff;
    padding: 8px 20px!important;
    border-radius: 3px;
}
.content h2{
    font-size: 46px;
    color: #005ff9;
    text-align: center;
    font-weight: bold;
}
.content h3{
    font-size: 28px;
    color: #acacac;
    text-align: center;
}
.features{
    text-align: center;
    padding: 0 45px;
    margin-top: 50px;
}
.features img{
    margin-bottom: 10px;
}
.features h3{
    padding: 10px 0;
   
}
.file-upload{
    margin: 30px 0;
    text-align: center;
    position: relative;
}


.copies {
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.format {
display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 14px;
}
.file-upload-span input{
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    width: 25px;
    border: none;
}
/* .filepond--root .filepond--list-scroller{
    width: 150px!important;
} */
.file-upload-span {
    background-color: #fff;
    color: black;
    border-radius: 4px;
    padding: 3px 0;
    font-size: 14px;
    width: auto;
    display: inline-block;
}
.upload-icon-top {
    width: 100%;
}
.upload-icon-top img{
    width: 50px;
}
.file-upload .btn {
    background-color: #f13d2f;
    position: absolute;
    bottom: -57px;
    left: 415px;
    padding: 10px 40px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.btn-new {
    border:  1px solid #005ff9;
    color: #005ff9;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    margin: 20px 0;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .file-upload {
    background-color: #005ff9!important;
    border-radius: 6px;
    outline: dotted 2px #fff;
    outline-offset: -30px;
    display: inline-block;
    width: 100%;
    padding: 70px;
    position: relative;
}
.dropzone {
    min-height: 170px;
    border:none;
    background: #005ff9;
    padding: 20px 20px;
    position: relative;
}
.dropzone .dz-message .dz-button {
    background: #fff;
    color: #005ff9;
    border: 1px solid #fff;
    padding: 0;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 6px;
}


#wait {
    display: none;
    color: #fff;
    padding: 10px 0 0 0;
    position: relative;
    
    
}
.dz-message span {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    color: #005ff9;
}
.dropzone .dz-message {
    text-align: center;
    margin: 35px 0 0 0;
}
.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #000;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /* display: flex; */
    position: absolute;
    top: 10px;
    right: -25px;
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.dropzone .dz-preview {
    position: relative;
    display: block;
    width: 120px!important;
    margin: 15px auto;
    min-height: 100px;
}


.dz-details{
    width: 100%;
    padding: 30px 10px;
    text-align: center;
    margin: 0;
}

#download_btn {
    position: relative;
    margin-right: 85%;
}

.download-none {
    display: none;
}








@media only screen and (max-width: 600px) {
    .file-upload .btn {
    background-color: #f13d2f;
    position: initial;
    border: none;
    bottom: 12px;
    left: 514px;
}
    .format {
  
        width: 100%;
        padding: 10px;
        color: #fff;
        font-size: 14px;
    }
    .content h2 {
        font-size: 35px;
        color: #005ff9;
        text-align: center;
        font-weight: bold;
    }
    .content h3 {
        font-size: 20px;
        color: #acacac;
        text-align: center;
        padding: 0 20px;
    }
    .features {
        text-align: center;
        margin-top: 50px;
    }
    .logo img {
        width: 100%;
    }
    .file-upload {
        background-color: #005ff9!important;
        border-radius: 6px;
        outline: dotted 2px #fff;
        outline-offset: -30px;
        display: inline-block;
        width: 100%;
        padding: 50px 20px;
    }
}
