<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Multilogin</title>
      <meta name="description" content="" />
      <meta name="keywords" content ="" />
<link rel="stylesheet" href="css/bootstrap.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="bg">
    <div class="container">
        <section class="header">
            <div class="logo">
                <img src="images/logo.png">
            </div>
            <nav>
                <ul>
                    <li>Login</li>
                    <li class="reg-btn">Registration</li>
                </ul>
            </nav>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">

                    <h2>Creative Unifier</h2>
                    <h3>We uniqueize video and photo creatives for free</h3>
                </div>
                <div class="col-md-12">
                    <div class="file-upload">
                    <form action="{{ url_for('file_upload') }}" class="dropzone" id="upload-form" method="post">
                   <div class="upload-icon-top"><img src="images/upload-icon.png"></div>
                        
<div class="copies">Number of copies: <span class="file-upload-span"><input type="text" name="number"></span></div>
                        <div class="format">JPG,PNG,MP4 files up to 100mb are supported </div>
                        <div class="preview"></div>
                         <div id="wait">We are processing your media files. Please dont refresh or close the browser.<div class="loader"></div></div>
       <button type="submit" class="btn-primary btn">Submit</button>
                    </div>
       

                </form>
            <a href="#" id="button_url"><button class="btn-primary btn download-none" id="download_btn">Download</button></a>
            </div>
            </div>

        </section>
        <section class="icon-section mb-5">
            <div class="row">
                <div class="col-md-6">
                 <div class="features">
                     <img src="images/icon-2.png">
                     <h3>All devices supported</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                 </div>
                </div>
                <div class="col-md-6">
                    <div class="features">
                        <img src="images/icon-4.png">
                        <h3>Quick and easy</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                   </div>
                   <div class="col-md-6">
                    <div class="features">
                        <img src="images/icon-3.png">
                        <h3>Security guaranteed</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                   </div>
                   <div class="col-md-6">
                    <div class="features">
                        <img src="images/icon-1.png">
                        <h3>In the cloud</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                   </div>
            </div>
        </section>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
<script  src="js/script.js"></script>
</html>